
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'), url('../fonts/Arial/ARIAL.woff') format('woff');
    }
    
  
@font-face {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        src: local('Arial'), url('../fonts/Arial/ARIALI.woff') format('woff');
        }



  @font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    src: local('Arial'), url('../fonts/Arial/ARIALBD.woff') format('woff');
    }
    

    @font-face {
        font-family: 'Arial';
        font-style: italic;
        font-weight: 700;
        src: local('Arial'), url('../fonts/Arial/ARIALBI.woff') format('woff');
        }

    @font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    src: local('Georgia'), url('../fonts/Georgia/georgia.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 400;
    src: local('Georgia'), url('../fonts/Georgia/georgiai.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    src: local('Georgia'), url('../fonts/Georgia/georgiab.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia';
    font-style: italic;
    font-weight: 700;
    src: local('Georgia'), url('../fonts/Georgia/georgiaz.woff') format('woff');
    }



    @font-face {
        font-family: 'Futura';
        font-style: normal;
        font-weight: 400;
        src: local('Futura'), url('../fonts/Futura/FuturaLT.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Futura';
        font-style: italic;
        font-weight: 400;
        src: local('Futura'), url('../fonts/Futura/FuturaLT-Oblique.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Futura';
        font-style: normal;
        font-weight: 700;
        src: local('Futura'), url('../fonts/Futura/FuturaLT-Bold.woff') format('woff');
        }
        
    
        @font-face {
        font-family: 'Futura';
        font-style: italic;
        font-weight: 700;
        src: local('Futura'), url('../fonts/Futura/FuturaLT-BoldOblique.woff') format('woff');
        }


    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), url('../fonts/Roboto/Roboto-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff');
    }
    

    @font-face {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: normal;
        src: local('Times New Roman'), url('../fonts/TimesNewRoman/timesNewRoman.ttf') format('ttf');
    }
        
