<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>designer</display-name>
  <filter>
	  <filter-name>CorsFilter</filter-name>
	  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	  <init-param>
		<param-name>cors.allowed.origins</param-name>
		<param-value>*</param-value>
	  </init-param>
	  <init-param>
		<param-name>cors.allowed.methods</param-name>
		<param-value>GET,OPTIONS</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>CorsFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/sign-up/*</url-pattern>
    <url-pattern>/sign-in/*</url-pattern>
    <url-pattern>/forgot-password/*</url-pattern>
    <url-pattern>/books/*</url-pattern>
    <url-pattern>/edit/*</url-pattern>
    <url-pattern>/details/*</url-pattern>
    <url-pattern>/newbook/*</url-pattern>
    <url-pattern>/profile/*</url-pattern>
    <url-pattern>/change-password/*</url-pattern>
    <url-pattern>/store/*</url-pattern>
    <url-pattern>/user/*</url-pattern>
    <url-pattern>/cart/*</url-pattern>
    <url-pattern>/contact-us/*</url-pattern>
    <url-pattern>/blogs/*</url-pattern>
    <url-pattern>/order-response/*</url-pattern>
    <url-pattern>/workshops/*</url-pattern>
    <url-pattern>/campaign/*</url-pattern>
    <url-pattern>/student/*</url-pattern>
    <url-pattern>/school/*</url-pattern>
    <url-pattern>/pricing-royalties</url-pattern>
    <url-pattern>/license-agreement</url-pattern>
    <url-pattern>/privacy-policies</url-pattern>
    <url-pattern>/shipping-policy</url-pattern>
    <url-pattern>/refund-cancellation</url-pattern>
    <url-pattern>/terms-and-condition</url-pattern>
    <url-pattern>/frequently-asked-questions</url-pattern>
    <url-pattern>/podcasts/*</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>
